{extend name="layout/layout"}
{block name="style"}
{/block}
{block name="body"}
    {include file="index/left" /} 
    <div class="col-md-8 content">
          {if condition="isset($artlist)"}
          {volist name="artlist" id="vo"}
	      <div class="artlist"> 
    		<h2>{$vo.title}</h2>
	         <p>
	           {$vo.content}
	         </p>
	         <p>
	            <a class="btn" href="{:url('index/detail',['id'=>$vo.id])}">View details »</a>
	         </p>
	      </div>
	      {/volist}
	      <div class="page">
	      	{$page}
	      </div>
	      {else/}
	      <h2 class="text-center">没有相关文章</h2>
	      {/if}
	</div>
	<div class="clearfix"></div>
	<script type="text/javascript">
		$("img.artimg").lazyload({effect: "fadeIn",threshold:-100});
	</script>
{/block}