<nav class="navbar-header">
    <div class="navbar-log"><a href="#" style="color: #fff"><span class="glyphicon glyphicon-th-list" style="padding-right: 10px;"> 
    </span>后台管理</a></div>
    <div class="user">
        <div class="dropdown">
         <div class="user-menu dropdown-toggle" id="adminmenu" data-toggle="dropdown"><img src="/blog/img/4006876523_289a8296ee.jpg" class="img-circle" height="40" width="40">{$uname}<span class="caret"></span></div>
         <ul class="dropdown-menu dropdown-menu-right list" role="menu" aria-labelledby="adminmenu">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{:url('webset/administartor')}" target="right"><span class="glyphicon glyphicon-user pad-right"></span>管理员</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{:url('webset/systeminfo')}" target="right"><span class="glyphicon glyphicon-info-sign pad-right"></span>系统信息</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{:url('art/artadd')}" target="right"><span class="glyphicon glyphicon-pencil pad-right"></span>添加文章</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{:url('login/loginout')}"><span class="glyphicon glyphicon-log-out"></span>　退出</a>
            </li>
         </ul>
        </div>
    </div>
    <div class="web-home">
        <a href="{:url('/index/index')}" style="color: #fff" target="_blank"><span class="glyphicon glyphicon-home" style="padding-right: 10px;"></span>首页</a>
    </div>
</nav>
<div class="clearfix"></div>