{extend name="layout/base"}
{block name="style"}
<style type="text/css">
	.article{margin-top: 20px;}
	.divwrap{padding: 15px;}
	.glyp {top: 0px;cursor: pointer;}
	.addart{height: 34px;line-height: 34px;}
	.nocont{line-height: 30px;text-align: center;font-size: 16px;color: #f00}
	thead tr th{text-align: center;}
</style>
{/block}

{block name="body"}

<div class="article">
    <div class="search">
	    <div class="col-md-5 col-sm-5">
		    <form method="post" action="{:url('art/artall')}">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="标题" value="{$Request.param.keyword}" name="keyword">
					<span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
				</div>
			</form>	
		</div>
		<div class="col-md-7 col-sm-7 addart text-right" style="float: right;">
			<a href="{:url('art/artadd')}"><span class="glyphicon glyphicon-plus"></span> 添加文章</a>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="divwrap">
		{if condition="isset($ret)"}
		<table class="table table-striped text-center">
		  <caption>全部文章 <span class="badge badge-info">{$count}</span></caption>
		  <thead>
		    <tr>
		      <th>选项</th>
		      <th class="text-left">标题</th>
		      <th>作者</th>
		      <th>分类目录</th>
		      <th>日期</th>
		      <th>操作</th>
		    </tr>
		  </thead>
		  <tbody class="conts">
		  {volist name="ret" id="ret"}
		    <tr>
		      <td><label style="width: 100%;"><input type="checkbox" value="{$ret.id}" name="id"></label></td>
		      <td class="text-left"><a href="">{$ret.title}</a></td>
		      <td>{$ret.author}</td>
		      <td>{$ret.items}</td>
		      <td>{$ret.addtime|date="Y-m-d H:i:s",###}</td>
		      <td><a href="{:url('art/artedit',['id'=>$ret.id])}">编辑</a></td>
		    </tr>
		  {/volist}
		  </tbody>
		</table>
		<div class="select">
			<button class="btn btn-default" id="selted">全选/反选</button>
			<button class="btn btn-default" id="delart">删除所选</button>
		</div>
		<div class="page">
			{$page}
		</div>
		{else/}
			<div class="nocont">没有内容</div>
		{/if}
	</div>
	<div class="fakeloader"></div>
</div>
{/block}