{extend name="layout/base"}
{block name="style"}
<link rel="stylesheet" type="text/css" href="/summernote/summernote.css">
<style type="text/css">
	.article{margin-top: 20px;}
	.divwrap{padding-left: 15px;padding-bottom: 10px;}
	.label-name{display: inline-block;max-width: 100%;margin: 5px 0px;}
	.addart{height: 34px;line-height: 34px;}
	.explain{font-size: 12px;padding: 5px 3px;line-height: 20px;color: #666;margin-bottom: 25px;}
	thead tr th{text-align: center;}
</style>
{/block}
{block name="script"}
<script type="text/javascript" src="/summernote/summernote.min.js"></script>
{/block}
{block name="body"}

<div class="article">
    <div>
        <div class="divwrap"><h3>分类目录</h3></div>
	    <div class="col-md-4 col-sm-4">
	        <label for="name">添加新分类目录</label>
	     	<form role="form">
			  <div class="form-group">
			    <div for="name" class="label-name">名称</div>
			    <input type="text" class="form-control" id="name" placeholder="分类名称">
			  </div>
			  <div class="form-group">
			    <div for="name" class="label-name">父级分类目录</div>
			    <select class="form-control" id="parents">
			      <option value="0" selected="selected">无</option>
			      {if condition="isset($ret)"}
			      {volist name="ret" id="vo"}
			      <option value="{$vo.id}">{$vo.item}</option>
			      {/volist}
			      {/if}
			    </select>
			    <div class="explain">
			      分类目录和标签不同，它可以有层级关系。您可以有一个“音乐”分类目录，在这个目录下可以有叫做“流行”和“古典”的子目录。
			    </div>
			  </div>
			  <div class="form-group">
			  	<button type="submit" class="btn btn-primary" id="classadd">添加新分类目录</button>
			  </div>
			</form>
		</div>
		<div class="col-md-8 col-sm-8">
			<div class="panel panel-primary">
			    <div class="panel-heading">分类详情</div>
			    {if condition="isset($ret)"}
			    <table class="table table-striped text-center">
				  <thead>
				    <tr>
				      <th>选项</th>
				      <th>名称</th>
				      <th>父级目录</th>
				      <th>日期</th>
				    </tr>
				  </thead>
				  <tbody class="conts">
				    {volist name="ret" id="ret"}
				    <tr>
				      <td><label style="width: 100%;"><input type="checkbox" value="{$ret.id}"></label></td>
				      <td><a href="">{$ret.item}</a></td>
				      <td>{$ret.bm}</td>
				      <td>{$ret.addtime|date="Y-m-d H:i:s",###}</td>
				    </tr>
				    {/volist}
				  </tbody>
				</table>
			</div>
			<div class="select">
				<button class="btn btn-primary" id="selted">全选/反选</button>
				<button class="btn btn-primary" id="delitem">删除所选</button>
			</div>
	        {else/}
	        <div>暂无分类</div> 
	        {/if}
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="fakeloader"></div>
</div>
{/block}